<!-- Header-->
 <header class="bg-dark py-4">
    <div class="container px-4 px-lg-4 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Your Health is Your Beauty</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>
<!-- Section-->
 <section class="py-5" style="background-color: rgb(238,238,238);">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allproducts| filter: searchterm:'name' ">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image_link" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-3">
                        <div class="text-center">
                            <!-- Wishlist -->
                            <button class="wish btn" (click)="addtowishlist(product)"><i class="fa fa-heart fa-lg py-1" style="color: rgb(222, 94, 137);"></i></button>
                            <!-- Product name-->
                            <h5 class="fw-bolder p-1" style="font-family:'Titillium Web', sans-serif;">{{product.name}}</h5>
                            <!-- Product price-->
                            <h6 style="font-family:'Titillium Web', sans-serif;" class="fw-bolder">Price:${{product.price}}</h6>
                            <h6 style="font-family:'Titillium Web', sans-serif;" class="fw-bolder">Product Type:{{product.product_type}}</h6>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button (click)="addtocart(product)" class="btn btn-outline-dark mt-auto" href="#">Add to cart</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
