/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Nunito:wght@600&family=Pacifico&family=Raleway:ital,wght@1,100&family=Titillium+Web:wght@300&display=swap');
body{
    font-family: 'Dancing Script', cursive;;
}
/* .card-img-top{
    width: 200px;
    height:200px;
} */
.card-img-top:hover{
    scale: 1.1em;;
    transform: scale(1.20);
    transition: 0.5s;
}
#imagediv:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
